<tr id="<%= dom_id task %>" class="task">
  <td>
    <%= task.created_at.strftime("%m-%d-%Y") %>
  </td>

  <td>
    <%= task.name %>
  </td>

  <td>
    <%= task.category %>
  </td>

  <td>
    <%= task.description %>
  </td>

  <td>
    <%= task.due_date %>
  </td>

  <td>
    <p class="status <%= task.is_complete ? 'complete' : 'incomplete' %>">
      <%= task.is_complete ? 'Complete' : 'Incomplete' %>
    </p>
  </td>
  <!--
  <td>
    <btn class="btn">
      <%= link_to "Show this task", task %>
    </btn>
  </td>
  -->
  <td>
    <button class="btn">
      <%= link_to "Edit task", edit_task_path(task) %>
    </button>
  </td>

  <td>
      <%= button_to "Destroy this task", task, method: :delete %>
  </td>


</tr>
