<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Manager App</title>
  <link rel="stylesheet" href="application.css">
</head>

<body>

  <div class="tasks-list">
    <div id="notice">
      <p style="color: green"><%= notice %></p>
    </div>

    <h1 class="header">Task Manager App</h1>

    <div class="option">
      <button class="btn" type="button">
        <%= link_to "New Task", new_task_path %>
      </button>


      <div class="dropdown">
        <button onclick="dropping()" class="dropbtn">Sort</button>
        <div id="myDropdown" class="dropdown-content">
          <div class="sort-option">
            <%= link_to 'Sort by Due Date', tasks_path(sort_by: 'due_date'), id: 'sortDueDateButton' %>
          </div>
          <div class="sort-option">
            <%= link_to 'Sort by Name', tasks_path(sort_by: 'name'), id: 'sortNameButton' %>
          </div>
          <div class="sort-option">
            <%= link_to 'Sort by Created Date', tasks_path(sort_by: 'created_at'), id: 'sortCreatedAtButton' %>
          </div>
          <div class="sort-option">
            <%= link_to 'Sort by Category', tasks_path(sort_by: 'category'), id: 'sortCategoryButton' %>
          </div>
           <div class="sort-option">
            <%= link_to 'Sort by Completion', tasks_path(sort_by: 'is_complete'), id: 'sortCompleteButton' %>
          </div>
        </div>
      </div>
    </div>

    <fieldset class="filter-fieldset">
      <legend>Filter</legend>

      <input type="checkbox" id="complete" name="complete" checked/>
      <span style="width:70px;display:inline-block;">Complete</span>

      <input type="checkbox" id="incomplete" name="incomplete" checked/>
      <span style="width:90px;display:inline-block;">Incomplete</span>

      <input type="checkbox" id="work" name="category" value="Work" checked/>
      <span style="width:40px;display:inline-block;">Work</span>

      <input type="checkbox" id="personal" name="category" value="Personal" checked/>
      <span style="width:70px;display:inline-block;">Personal</span>



    </fieldset>


    <div class="table-wrapper">
      <table id="tasks">
        <thead>
          <tr>
            <th>Created On</th>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Mark Complete</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>
            <%= render task %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <script>
    function dropping() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

document.getElementById('complete').addEventListener('change', function() {
  var completeRows = document.querySelectorAll('.status.complete');
  completeRows.forEach(function(row) {
    row.parentElement.parentElement.style.display = this.checked ? 'table-row' : 'none';
  }, this);
});

document.getElementById('incomplete').addEventListener('change', function() {
  var incompleteRows = document.querySelectorAll('.status.incomplete');
  incompleteRows.forEach(function(row) {
    row.parentElement.parentElement.style.display = this.checked ? 'table-row' : 'none';
  }, this);
});

document.getElementById('work').addEventListener('change', function() { /* this and personal aren't working!!! will fix  */
  var workRows = document.querySelectorAll('.task.Work');
  workRows.forEach(function(row) {
    row.style.display = this.checked ? 'table-row' : 'none';
  }, this);
});

document.getElementById('personal').addEventListener('change', function() {
  var personalRows = document.querySelectorAll('.task.Personal');
  personalRows.forEach(function(row) {
    row.style.display = this.checked ? 'table-row' : 'none';
  }, this);
});

setTimeout(() => {
  const notice = document.getElementById("notice");
  notice.style.display = "none";
}, 1500);

function confirmDelete(msg) {
  if (!confirm(msg)) return false;
}
  </script>

</body>

</html>
