<div class="task-single">

  <p style="color: green"><%= notice %></p>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Created On</th>
          <th>Name</th>
          <th>Category</th>
          <th>Description</th>
          <th>Due Date</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @task %>
      </tbody>
    </table>
  </div>

  <div>
    <div class="btn">
      <%= link_to "Edit this task", edit_task_path(@task) %>
    </div>
    <div class="btn">
      <%= link_to "Back to tasks", tasks_path %>
    </div>
    <%= button_to "Destroy this task", @task, method: :delete %>
  </div>

</div>