<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Date entered:</strong>
    <%= user.date_entered %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= user.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= user.category %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= user.due_date %>
  </p>

  <p>
    <strong>Completeness:</strong>
    <%= user.completeness %>
  </p>

</div>
